* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Popins", sans-serif;
  color: var(--primary);
}

:root {
  --primary:#393939;
  --secondary:#888888;
  --button:#464646;
  --button2:#92a3ad;
  --background:#ffffff;
}

body {
  background:var(--background);
}
.nav{
  height: 15vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

#navLink {
text-decoration: none;
}

#navName:hover {
color:var(--secondary)
}

.home-products{
  width: 100%;
  height: 20vh;
  /* border: 1px solid red; */
  background-color: var(--secondary);
  color: antiquewhite;
  display: flex;
  align-items: center;
  
  
}
.home-products h1{
  color:var(--background);
  padding-left: 20%;

}
.product-donji-div{
  width: 100%;
    /* border: 1px solid chocolate; */
  padding: 50px;
  display: flex;
  justify-content: space-between;
}

.product-aside{
  border: 1px solid blue;
  width: 15rem;
  height: 50rem;

}
.product-content{
  border: 1px solid brown;
  width: 60rem;
  display: flex;
  flex-wrap: wrap;
}

.product-card{
  width:30%;
  /* height:300px; */
  margin: 10px;
  background-color: var(--background);
  border-radius: 8px;
}

.product-card img{
  width:100%;
  height:300px;
  border-radius: 8px;
}

.product-card-text{
  display: flex;
  justify-content:space-between;
  width:100%;
  margin-top: 15px;
}

.product-card-name{
  font-size: 18px;
  width: 50%;
}

.product-card-price{
  width: 50%;
  font-size:18px;
}

#price{
  text-align:right;
  color: rgb(165, 112, 42);
}