* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Popins", sans-serif;
  color: var(--primary);
}

:root {
  --primary: #393939;
  --secondary: #888888;
  --button: #464646;
  --button2: #92a3ad;
  --background: #ffffff;
}

body {
  background: var(--background);
}
.nav {
  height: 15vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

#navLink {
  text-decoration: none;
}

#navName:hover {
  color: var(--secondary);
}

.home-products {
  width: 100%;
  height: 20vh;
  /* border: 1px solid red; */
  background-color: var(--secondary);
  color: antiquewhite;
  display: flex;
  align-items: center;
}
.home-products h1 {
  color: var(--background);
  padding-left: 20%;
}
.product-donji-div {
  width: 100%;
  /* border: 1px solid chocolate; */
  padding: 50px;
  display: flex;
  justify-content: space-between;
}

.product-aside {
  border: 1px solid blue;
  width: 15rem;
  height: 50rem;
  padding: 10px;
}
.product-content {
  border: 1px solid brown;
  width: 60rem;
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  width: 30%;
  /* height:300px; */
  margin: 10px;
  background-color: var(--background);
  border-radius: 8px;
  position: relative;
}

.product-card img {
  width: 100%;
  height: 300px;
  border-radius: 8px;
}

.product-card-text {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 15px;
}

.product-card-name {
  font-size: 18px;
  width: 50%;
}

.product-card-price {
  width: 50%;
  font-size: 18px;
}

#price {
  text-align: right;
  color: rgb(165, 112, 42);
}

.product-card-button{
  width: 100px;
  height: 100px;
  z-index: 2;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
}

/* product aside  */
.input-aside {
  width: 100%;
  height: 30px;
  padding-left: 5px;
  border-radius: 5px;
  border: none;
  background-color: rgb(192, 191, 191);
  color: var(--primary);
  cursor: pointer;
}
.p-product {
  margin-left: 5px;
  margin-top: 20px;
  font-size: larger;
}

.product-aside-list1 {
  list-style-type: none;
  margin-left: 5px;
}

.product-aside-list1 li {
  margin: 10px 0px;
}

.product-aside-list1 li a {
  text-decoration: none;
}

.product-aside-list1 li:hover {
  background-color: #888888;
}
.product-aside-company,
.product-aside-color {
  margin-left: 5px;
  margin-top: 20px;
}

.product-aside-company select {
  margin: 10px 0px;
}
.product-aside-company p {
  margin-top: 20px;
  font-size: larger;
}

.product-aside-color p {
  margin-top: 20px;
  font-size: larger;
}

.product-aside-color-btn {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.aside-colors {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.aboutTekst {
  height: 300px;
  width: 530px;
  position: absolute;
  left: 640px;
  top: 330px;
  line-height: 40px;
}
.aboutTitle {
  position: absolute;
  left: 640px;
  top: 230px;
  font-size: 35px;
  color: #393939;
}
.aboutSlika {
  width: 520px;
  height: 530px;
  position: absolute;
  top: 230px;
  left: 80px;
  border: 1px solid white;
  border-radius: 8px;
}
.aboutFooterr {
}

/* SINGLE PRODUCT PAGE CSS  */

.single-product-card{
  display:flex;
}

.single-product-image{
  width: 50%;
}

.single-product-image img {
  width: 100%;
  border-radius:4px;
}

.single-product-text{
  width: 50%;
}