* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Popins", sans-serif;
  color: var(--primary);
}

:root {
  --primary:#393939;
  --secondary:#888888;
  --button:#464646;
  --button2:#92a3ad;
  --background:#ffffff;
}

body {
  background:var(--background);
}
.nav{
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

#navLink {
text-decoration: none;
}

#navName:hover {
color:var(--secondary)
}